# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# TypeScript and JavaScript files
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2
max_line_length = 80

# JSON files
[*.{json,jsonc}]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# SQL files
[*.sql]
indent_style = space
indent_size = 2

# Docker files
[{Dockerfile,*.dockerfile}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Configuration files
[*.{config,conf}]
indent_style = space
indent_size = 2

# Package files
[{package.json,package-lock.json}]
indent_style = space
indent_size = 2

# Environment files
[.env*]
trim_trailing_whitespace = true

# Makefile (requires tabs)
[{Makefile,*.mk}]
indent_style = tab
indent_size = 4

# Git configuration
[.gitconfig]
indent_style = tab

# XML files
[*.xml]
indent_style = space
indent_size = 2